* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.limite-conteudo {
    display: none;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* HEADER */

header {
    background: #00cad1;
    padding: 0 30px;
    width: 100%;
    height: 80px;
}

.logo {
    height: 70%;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
    font-weight: 500;
}

/* MAIN (COVER) */

#cover {
    padding: 0 30px;
    background: url("assets/recepcao2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
    position: relative;
}

#cover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 0.3;
}

#cover span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
}


/* MAIN (SOBRE) */

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    flex-wrap: nowrap;
    gap: 35px;
}

#sobre > div {
    display: flex;
}

#sobre div p {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

#sobre > div:first-of-type {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: #333333;
}

.medico-e-lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.medico-e-lista > img {
    height: 80%;
}

.medico-e-lista > div {
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    gap: 30px;
}

.medico-e-lista > div > span {
    font-size: 18px;
    text-transform: uppercase;
}

.medico-e-lista > div > ul {
    min-width: 487px;
    padding-left: 40px;
}

.medico-e-lista > div > ul > li {
    font-size: 17px;
    line-height: 27px;
    list-style: disc;
}

h3 {
    text-transform: uppercase;
    font-weight: 600;
    color: #333333;
}

#sobre > div:last-of-type {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

figure {
    width: calc(20%);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 1px #aaaaaa;
    transition: transform 0.3s ease;
}

figcaption {
    line-height: 60px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

#sobre > div:last-of-type figure img {
    width: 100%;
}

#sobre a {
    margin-top: 10px;
    background: #00cad1;
    width: 250px;
    height: 60px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contato {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#contato p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

#contato > iframe {
    margin-top: 10px;
    width: calc(100% + 60px);
    height: 400px;
    filter: grayscale(100%);
}

#contato > iframe:hover {
    filter: grayscale(0%);
}

/* RODAPÉ */

footer {
    background: #0c6e71;
    color: #ffffff;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer > p {
    text-align: center;
    font-size: 15px;
}

/*================== especialidades.html =====================*/

.main-especialidades {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu {
    min-height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu li {
    height: 27px;
    border-bottom: 3px solid #00cad1;
}

.menu li a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.main-especialidades > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main-especialidades > div > p {
    max-width: 600px;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
}

.imagem-e-tabela {
    padding: 0 10px 10px;
    width: 100%;
    max-width: 800px;
    display: flex;
}

.imagem-e-tabela table {
    border-collapse: collapse;
    margin-left: 240px;
    height: 220px;
    width: 560px;
    position: relative;
}

.imagem-e-tabela table::before { /* imagem */
    content: "";
    height: 100%;
    width: 240px;
    top: 0;
    left: -240px;
    box-shadow: 0 0 5px 0px #aaaaaa;
    position: absolute;
}
.imagem-e-tabela .tabela-ortopedia::before {
    background: url("assets/ortopedia.png");
    background-size: cover;
    background-position: -20px 0px;
}
.imagem-e-tabela .tabela-pediatria::before {
    background: url("assets/pediatra2.png");
    background-size: cover;
    background-position: -25px 0px;
}
.imagem-e-tabela .tabela-geriatria::before {
    background: url("assets/geriatra.png");
    background-size: cover;
    background-position: 0px 0px;
}
.imagem-e-tabela .tabela-psicologia::before {
    background: url("assets/psicologo.png");
    background-size: cover;
    background-position: 0px 0px;
}
.imagem-e-tabela .tabela-fisioterapia::before {
    background: url("assets/fisioterapia.png");
    background-size: cover;
}

.imagem-e-tabela table td, .imagem-e-tabela table th {
    padding: 10px;
    text-align: left;
}

.imagem-e-tabela table th {
    background: #00cad1;
    color: #ffffff;
    font-weight: 600;
}

.imagem-e-tabela table tbody tr:nth-of-type(odd) {
    background: #e1e1e1;
}
.imagem-e-tabela table tbody tr:nth-of-type(even) {
    background: #eeeeee;
}

@media only screen and (max-width: 425px) {
    h2 {
        font-weight: 600;
        color: #000000;
        font-size: 21px;
        text-align: center;
    }
    
    .limite-conteudo {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }

    header {
        padding: 20px 10px 15px;
        height: 140px;
    }

    .logo {
        height: 60px;
    }

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    nav::before {
        content: "";
        width: 100%;
        height: 1px;
        background: #eeeeee;
        border-radius: 3px;
        position: absolute;
        top: -14px;
        left: 0;
    }

    nav ul {
        gap: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }

    #cover {
        height: 200px;
        padding: 0 10px;
        background-position: 0px 0px;
        background-attachment: scroll;
    }

    #cover > span {
        font-size: 19px;
    }

    #sobre {
        padding: 30px 30px 30px;
    }

    #sobre > div:first-of-type {
        gap: 20px;
    }

    #sobre div {
        width: 100%;
    }

    #sobre div p {
        font-size: 15px;
        line-height: 24px;
        text-align: justify;
    }

    .medico-e-lista > img {
        display: none;
    }

    .medico-e-lista > div {
        gap: 10px;
    }

    .medico-e-lista > div > span {
        font-size: 16px;
    }

    .medico-e-lista > div > ul {
        min-width: 0px;
    }

    .medico-e-lista > div > ul > li {
        font-size: 14px;
        line-height: 23px;
    }

    #sobre > div:last-of-type {
        flex-direction: column;
        gap: 40px;
    }

    figure {
        width: 100%;
    }

    #contato {
        gap: 15px;
    }

    #contato p {
        text-align: justify;
        font-size: 14px;
        line-height: 19px;
    }

    #contato iframe {
        height: 150px;
    }
    
    footer {
        padding: 20px 30px;
        gap: 5px;
    }

    footer img {
        height: 40px;
    }

    footer p {
        font-size: 12px;
    }

    /*especialidades.html*/
    
    .main-especialidades {
        padding: 15px 30px;
        gap: 30px;
    }

    .main-especialidades > .menu {
        gap: 20px;
    }

    .main-especialidades > .menu li a {
        font-size: 16px;
    }

    .main-especialidades > div {
        gap: 13px;
    }

    .main-especialidades > div > p {
        max-width: 600px;
        font-size: 15px;
    }
    
    .imagem-e-tabela {
        width: calc(100% + 60px);
        padding: 0 0 10px;
    }

    .imagem-e-tabela table {
        width: 100%;
        height: 220px;
        margin-left: 0;
        border-collapse: collapse;
        position: relative;
    }

    .imagem-e-tabela table::before {
        display: none;
    }

    .imagem-e-tabela > table > tbody > tr > td {
        font-size: 13px;
    }


}

@media only screen and (min-width: 426px) and (max-width: 598px){
    h2 {
        font-weight: 600;
        color: #000000;
        font-size: 21px;
        text-align: center;
    }
    
    .limite-conteudo {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }

    header {
        padding: 20px 30px 15px;
        height: 140px;
    }

    .logo {
        height: 60px;
    }

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    nav::before {
        content: "";
        width: 100%;
        height: 1px;
        background: #eeeeee;
        border-radius: 3px;
        position: absolute;
        top: -14px;
        left: 0;
    }

    nav ul {
        gap: 40px;
    }

    nav ul li a {
        font-size: 17px;
    }

    #cover {
        height: 250px;
        background-position: 0px 0px;
        background-attachment: scroll;
    }

    #cover > span {
        font-size: 22.5px;
    }

    #sobre {
        padding: 60px 30px 40px;
    }

    #sobre > div:first-of-type {
        gap: 30px;
    }

    #sobre div {
        width: 100%;
    }

    #sobre div p {
        font-size: 16px;
        text-align: justify;
    }

    .medico-e-lista > img {
        display: none;
    }

    .medico-e-lista > div {
        gap: 10px;
    }

    .medico-e-lista > div > span {
        font-size: 16px;
    }

    .medico-e-lista > div > ul {
        min-width: 0px;
    }

    .medico-e-lista > div > ul > li {
        font-size: 15px;
    }

    #contato {
        gap: 15px;
    }

    #contato p {
        text-align: justify;
        font-size: 14px;
        line-height: 19px;
    }

    #contato iframe {
        height: 200px;
    }
    
    footer {
        padding: 20px 30px;
        gap: 5px;
    }

    footer img {
        height: 40px;
    }

    footer p {
        font-size: 13px;
    }

    /*especialidades.html*/
    
    .main-especialidades {
        padding: 15px 30px;
        gap: 30px;
    }

    .main-especialidades > .menu {
        gap: 20px;
    }

    .main-especialidades > .menu li a {
        font-size: 16px;
    }

    .main-especialidades > div {
        gap: 13px;
    }

    .main-especialidades > div > p {
        max-width: 600px;
        font-size: 15px;
    }
    
    .imagem-e-tabela {
        padding: 0 0 10px;
    }

    .imagem-e-tabela table {
        width: 100%;
        height: 220px;
        margin-left: 0;
        border-collapse: collapse;
        position: relative;
    }

    .imagem-e-tabela table::before {
        display: none;
    }

    .imagem-e-tabela > table > tbody > tr > td {
        font-size: 13px;
    }
}

@media only screen and (min-width: 599px) and (max-width: 768px) {
    .limite-conteudo {
        display: flex;
        width: 100%;
    }

    header {
        padding: 0 30px;
    }

    header {
        height: 80px;
    }

    nav ul {
        gap: 30px;
    }

    nav ul li a {
        font-size: 17px;
    }

    #cover {
        height: 300px;
        background-attachment: scroll;
        background-position: 0 0px;
        /*background-position: -100px -200px;*/
    }

    #cover > span {
        font-size: 27px;
    }

    #sobre {
        padding: 60px 30px 40px;
    }

    #sobre > div:first-of-type {
        gap: 30px;
    }

    #sobre div {
        width: 100%;
    }

    #sobre div p {
        font-size: 16px;
        text-align: justify;
    }

    .medico-e-lista > img {
        display: none;
    }

    .medico-e-lista > div {
        gap: 15px;
    }

    #sobre > div:first-of-type {
        gap: 20px;
    }

    #contato {
        gap: 15px;
    }

    #contato p {
        text-align: justify;
        font-size: 14px;
        line-height: 19px;
    }

    #contato iframe {
        height: 250px;
    }
    
    footer {
        padding: 20px 30px;
        gap: 5px;
    }

    footer img {
        height: 40px;
    }

    footer p {
        font-size: 13px;
    }

    /*especialidades.html*/
    .main-especialidades {
        padding: 15px 30px;
        gap: 30px;
    }

    .main-especialidades > div {
        gap: 13px;
    }

    .main-especialidades > div > p {
        max-width: 600px;
        font-size: 15px;
    }

    .menu {
        gap: 30px;
    }
    .menu li a {
        font-size: 16px;
    }

    .imagem-e-tabela {
        padding: 0 0 10px;
    }

    .imagem-e-tabela table {
        width: 100%;
        height: 220px;
        margin-left: 0;
        border-collapse: collapse;
        position: relative;
    }

    .imagem-e-tabela table::before {
        display: none;
    }

    .imagem-e-tabela > table > tbody > tr > td {
        font-size: 14px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* HEADER */

    .limite-conteudo {
        display: flex;
        width: 100%;
    }

    #cover {
        height: calc(100vh - 80px);
    }

    #cover > span {
        font-size: 43px;
    }

    #sobre > div:first-of-type {
        max-width: 800px;
    }

    .medico-e-lista {
        width: 100%;
        height: 400px;
        justify-content: center;
    }

    .medico-e-lista > img {
        height: 70%;
    }

    .medico-e-lista > div > ul > li {
        font-size: 17px;
    }

    #contato p {
        font-size: 15px;
        line-height: 23px;
    }

    #contato > iframe {
        height: 300px;
    }
    
    /*especialidades.html*/
    .imagem-e-tabela > table > tbody > tr > td {
        font-size: 14px;
    }
    
}

@media only screen and (min-width: 1025px){
    .limite-conteudo {
        display: flex;
        max-width: 1024px;
        margin: 0 auto;
    }
    
    #cover {
        height: calc(100vh - 80px);
    }

    #cover > span {
        font-size: 47px;
    }

    #sobre > div:first-of-type {
        max-width: 800px;
    }

    .medico-e-lista {
        width: 100%;
        height: 400px;
        justify-content: space-around;
    }

    .medico-e-lista > div > ul > li {
        font-size: 18px;
    }

    #contato p {
        font-size: 17px;
        line-height: 23px;
    }

    #contato > iframe {
        height: 400px;
    }

    /*especialidades.html*/
    .imagem-e-tabela > table > tbody > tr > td {
        font-size: 16px;
    }
}
